<h1 class="arev">All Reviews</h1>

{{#each reviews as |review|}}

<div class="card">
    <section>
        <h3 class="rtitle">{{review.title}}</h3>
    </section>
    <section>
        <p class="rcontent">{{review.content}}</p>
    </section>
</div>

{{/each}}