<h1 class="signup">SIGNUP</h1>

<form class="sign">
    <section>
        <label for="email-input">Email:</label>
        <input id="email-input"/>
    </section>
</form>

<form class="sign">
    <section>
        <label for="username-input">Username:</label>
        <input id="username-input"/>
    </section>
</form>

<form class="sign">
    <section>
        <label for="password-input">Password:</label>
        <input id="password-input"/>
    </section>
</form>

<section class="sign">
    <button type="submit">SIGNUP</button>
</section>

<script src="../public/js/signup.js"></script>